{% extends 'publications/base.html' %}

{% block content %}
    <h1>{{ title }}</h1>
    <ul>
        {% for a in posts_authors %}
            <li><div class="article-panel">
                <p class="first">{{ a.first_name }}||{{ a.last_name }}</p>
            </div>
                {% if a.photo %}
                <p><img class="img-article-left thumb" src="{{ a.photo.url }}"></p>
                {% endif %}
                <p>{{ a.position }}</p>
                <div class="clear"></div>
                <p class="link-read-post"><a href="{{ a.get_absolute_url }}">Подробнее</a></p>
                <hr>
            </li>
        {% endfor %}
    </ul>
{% endblock %}